@page
@model TodoApi.Pages.IndexModel
@{
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <!-- You may use a different charset if needed -->

    <title>Latin Lipsum -  Courtesy generator.lorem-ipsum.info</title>
</head>

<body>
    <p>
        Lorem ipsum dolor sit amet, postea vocibus sed ad, an eum epicurei scriptorem. Duo erat verterem voluptatum in, te hinc docendi invidunt ius, ne timeam qualisque periculis duo. Numquam civibus tractatos quo an, ea hinc everti indoctum quo. Cu inani maiestatis cum, ut prima doming eligendi vix.
    </p>
    <p>
        Natum viris delenit per no. Ubique laoreet ea vix, forensibus expetendis ei usu. Quo falli dictas delicata an, est id vidisse feugait recteque. Meis animal delectus ad eam. Ea per dictas honestatis, mel latine utroque evertitur an. His ut augue definiebas, ex quo probatus sadipscing.
    </p>
    <p>
        Cum in debitis minimum mediocrem. Cu his agam eros mazim. Pri ad dolor accusamus, qui cetero deserunt hendrerit id. Quo dicunt mentitum invenire eu, labitur percipitur constituam eu sed. Justo labores urbanitas has ad.
    </p>
    <p>
        At reque saepe dicam per, in pro albucius deseruisse, magna moderatius disputando est ex. Ut duo fuisset referrentur, ut odio tincidunt pri. Quo et consectetuer definitionem, in his tamquam praesent. Pro labores delicata voluptaria ne.
    </p>
    <p>
        Errem alienum vim an, mea id dicat dictas. Libris intellegam pri ei, ullum dicam scriptorem an nam, soleat iriure lobortis per in. At errem quaeque ceteros eos. Qui amet stet malorum ad. Mel verear perfecto urbanitas ex.
    </p>
    <p>
        Omnesque definiebas id vis. Mutat semper sensibus eu vel. In vim enim adversarium. An feugiat adipisci sadipscing vim, in erant ignota sed, cu oratio debitis deleniti est.
    </p>
    <p>
        Duo ad debitis fastidii. Quando adversarium in est. Iuvaret laoreet eleifend mel an, denique persequeris an his. No ius veniam voluptua indoctum. In deserunt philosophia eam, mel ut falli putant.
    </p>
    <p>
        Eam eirmod assentior an. Tractatos elaboraret eos no, duo patrioque similique eu. Per eu quis equidem perfecto. Ex essent doctus eleifend vix, duo verear imperdiet ad.
    </p>
    <p>
        Ei virtute liberavisse eos, in pro percipit patrioque definitionem, et aeque libris primis est. Pro option labores ea, dicta perfecto vel ei. Mel no consul tacimates necessitatibus, mazim viris instructior ad duo. Amet convenire vix ei.
    </p>
    <p>
        Eos te duis officiis insolens, ad possit repudiare appellantur usu, delenit tacimates cum ne. Everti consequat in nam, vis et unum erant sententiae, id detracto comprehensam his. Nam no quod corrumpit. Inani soleat facilisi te usu. Quas populo albucius sit no, pri an dico regione alterum, nec no errem tantas mucius.
    </p>
</body>
</html>